@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body
{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
.topnav
{
    text-align: center;
    background-color: #2f2f2f;
  overflow: hidden;
  
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 0.9em 1em 0.9em;
    text-decoration: none;
    font-size: 1em;
    -webkit-transition: .2s;
            transition: color .2s;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
    
  }
         @media only screen and (min-device-width : 320px) and (max-device-width : 480px)
         {
          .navbutton{
            width: 17%;
          }
          .story {
            background: url(../images/sunyalbanycrop.jpg) no-repeat center center scroll !important; 
            text-align: left !important;
            background-size: cover !important;
            background-position: left top !important;
          }
          .beginnings {
            background: url(../images/code.jpg) no-repeat center center scroll !important; 
            text-align: left !important;
            background-size: cover !important;
            background-position: left !important;
          }
          .today {
            background: url(../images/mountain.jpg) no-repeat center center scroll !important; 
            text-align: left !important;
            background-size: cover !important;
          }
         }
         
.story
{
    
    background: url(../images/sunyalbany.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: white;
    padding: 5em 2em 10em 2em;
    text-align: center;
    font-size: 1.3em;
    z-index: 0;
}
.beginnings
{
    background: url(../images/code.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: white;
    padding: 7em 2em 7em 2em;
    text-align: center;
    font-size: 1.3em;
}
.today
{
    background: url(../images/mountain.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    color: white;
    padding: 7em 2em 10em 2em;
    text-align: center;
    font-size: 1.3em;
}
